.idea/
__pycache__/
*.pth
*.pth.tar
local.py
log*.txt
pytracking/pytracking.egg-info/
pytracking/pytracking
pytracking/result_plots/
pytracking/tracking_results/
pytracking/visualizer_results/
*.egg*
*.pyc
tensorboard/
pytracking/tracker/kalmanBased/qatm/data
pytracking/tracker/kalmanBased/qatm/data_validation
